/* Light and dark mode scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Increase width to accommodate padding */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: rgba(96, 96, 96, 0.15); /* Semi-transparent darker gray */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5); /* Semi-transparent neutral gray */
    border-radius: 10px;
    border: 2px solid transparent; /* Add some space around the thumb */
    /*padding: 2px; !* Add padding *!*/
    background-clip: content-box; /* Ensure the border is visible */
}